<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>James Pennell</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header>
            <h1><a href=".">James Pennell</a></h1>

            <nav>
                <a href="/">Home</a>
            </nav>

        </header>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <footer>
            <p>&copy; <a href="http://jamespennell.com/">James Pennell</a> 2012</p>
        </footer>
    </body>
</html>
